@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:ital,wght@0,100;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: rgb(200, 191, 191);
    width: 434px;
    font-family: 'Fira Sans', sans-serif;
     font-family: 'Roboto', sans-serif;
     height: 100vh;
}
.sidebar nav{
    padding: 45px;


}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    /*background-color: yellow;*/
    width: 90vw;
}
.container{
    display:flex
}
.infoContainer{
    /*background-color: rgb(202, 9, 128);*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devInfo{
    display: flex;
  justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 65px;
}
.name{
font-size: 50px;
font-weight: bold;
font-family: 'Fira Sans', sans-serif;
}
.about{
 font-size: 40px;
}
.moreabout{

    font-size: 22px;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;
}
.buttons{
    margin-top: 34px;
}
.btn{
    padding: 9px 14px;
    border-radius: 22px;
    color: white;
    background-color: dodgerblue;
    font-size: 21px;
    margin: 0 3px;
    cursor: pointer;

}
.btn:hover{
    background-color: white;
    color: dodgerblue;

}

.devPic img{
    height: 58vh;
    

}
.contactform {
    padding: 0 34px;
    padding-top: 144px;
    font-family: 'Fira Sans', sans-serif;

}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;

}
.contactform  form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform  form div input{
    width: 26vw;
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}
#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check{
    flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}