@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Roboto:ital,wght@0,100;1,100&display=swap');
*{
    margin: 0;
    padding: 0;
}

.sidebar{
    background-color: brown;
    width: 10vw;
    font-family: 'Fira Sans', sans-serif;
     font-family: 'Roboto', sans-serif;
}
.sidebar nav{
    padding: 45px;


}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px 0;
}
.main{
    background-color: chartreuse;
    width: 80vw;
}
.container{
    display:flex
}